packages: [
  "atom-make-me-lol"
  "atom-material-ui"
  "editorconfig"
  "file-header"
  "file-icons"
  "language-gitignore"
  "linter"
  "MagicPython"
  "markdown-writer"
  "minimap"
  "package-sync"
  "python-indent"
  "python-tools"
  "seti-ui"
  "tool-bar-markdown-writer"
]
